<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="tambah"></ion-back-button>
        </ion-buttons>
    <ion-title>Keranjang Belanja</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content padding center text-center>

      <h3>Item di Keranjang Belanja</h3>

      <img src="./assets/baju1.jpg" alt="" height='100' width='100' />
      <p>Nama Barang : BAJU 1</p>
      <p>Jumlah Item : 3</p>
      <p>Tanggal Pemesanan : 8 Oktober 2019</p>
      <p>Pengiriman : JNE</p>
      <p>Biaya Pengiriman : Rp. 18.000,-</p>
      <p>Pembayaran : E-Banking</p>
      <p>Total Pembayaran : Rp. 198.000,-</p>

      <section>
          <ion-button expand="block" color="warning">Beli Sekarang</ion-button>
        </section>
  </ion-content>